<header id="cabeçalho">
  <img src="/img/logotras.png.png" alt="logo-ilustrativo">
  <div class="search-box">
      <input type="text" class="search-text" placeholder="Pesquisar...">
  <a class="search-btn">
      <img class="loupe-blue" src="/img/loupe-blue.svg" alt="" width="25px" height="25ps">
      <img class="loupe-white" src="/img/loupe-white.svg" alt="" width="25px" height="25ps">
  </a>
</div>
</header>