 <!-- Cabeçalho com icone de Login e logo da Pagina -->
    <header id="cabeçalho">
        <img src="/images/logotras.png.png" alt="logo-ilustrativo">
        <div class="search-box">
            <input type="text" class="search-text" placeholder="Pesquisar...">
        <a class="search-btn">
            <img class="loupe-blue" src="/images/loupe-blue.svg" alt="" width="25px" height="25ps">
            <img class="loupe-white" src="/images/loupe-white.svg" alt="" width="25px" height="25ps">
        </a>
    </div>
    <nav class="nav-link">
        <li>
            <a href="#">Departamentos</a>
        </li>
        <li>
            <a href="#">Lançamentos</a>
        </li>
        <li>
            <a href="#">Pc gamer</a>
        </li>
        <li>
            <a href="#">TV</a>
        </li>
        <li>
            <a href="#">Ofertas do Dia</a>
        </li>
    </nav><!--cabeçalho-link-->
    </header>