<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/crud.css">
  <%- include('./partials/style') %>
  <title>Cadastro de Produtos</title>
</head>

<body>

  <%- include ('./partials/header.ejs') %>

  <div class="page-title">
    <h1>titulo</h1>
  </div>

  <div class="contain">
    <div class="pagination">
      <a href="/">Home > </a>
      <a href="/administrador/lista-de-produtos">Lista de Produtos > </a>
      <p style="margin-top: 15px;">Editando o Produto</p>
    </div>
  </div>

  <div class="align">
    <div class="container-inp">
      <form action="/administrador/editando-produtos/?_method=PUT" method="post">

        <div class="mb-3">
          <label for="formFile" class="form-label">Nome do Produto *</label>
          <input class="form-control" type="text" id="formFile" name="nomeProduto" value="">
        </div>

        <div class="mb-3">
          <label for="formFile" class="form-label">Descrição Produto*</label>
          <input class="form-control" type="text" id="formFile" name="descricaoProduto" value="">
        </div>

        <div class="mb-3">
          <label for="formFile" class="form-label">Preço do Produto*</label>
          <input class="form-control" type="text" id="formFile" name="precoProduto" value="">
        </div>

        <div class="mb-3">
          <label for="formFile" class="form-label">Quantidades *</label>
          <input class="form-control" type="text" id="formFile" name="quantidadeEstoque" value="">
        </div>

        <div class="mb-3">
          <label for="formFile" class="form-label">URL da imagem *</label>
          <input class="form-control" type="file" id="formFile" name="imagemProduto" value="">
        </div>

        <button>Salvar Alterações</button>
      </form>

    </div>

  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous">
</script>

</html>
