<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/admin.css">
  <title>Painel de Administrador</title>
</head>

<body>
  <header class="header">
    <h1>Olá, Administrador ${}</h1>
  </header>

  <main class="main-container">

    <div id="links">
      <a href="/create">Adicionar</a>
      <a href="/delet">Deletar</a>
      <a href="/update">Atualizar</a>
      <a href="/listen">Listar Produtos</a>
      <a href="/outros">Outros</a>
    </div>

    <div class="create">
      <input type="button" value="Adicionar novo Produto" placeholder="">
    </div>

    <div class="delet">
      <input type="button" value="Deletar um Produto" placeholder="">
    </div>

    <div class="update">
      <input type="button" value="Atualizar um Produto" placeholder="">
    </div>

    <div class="listen">
      <input type="button" value="Listar todos os Produtos" placeholder="">
    </div>

    <div class="outros">
      <input type="button" value="Usuários Criados" placeholder="">
    </div>


  </main>
</body>

</html>
