<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/home-destaque.css">
    <%- include('./partials/style.ejs') %>
    <title>Produtos em Destaque</title>
</head>
<body>
    <%- include('./partials/header') %>
    <main>
             <a href="/images/amazon-smart-home-echo-dot-alexa-3-geracao-preto.jpg" class="gallery-items">
                <img src="/images/amazon-smart-home-echo-dot-alexa-3-geracao-preto.jpg" alt="alexa-3-geracao">
            </a>    
            <a href="/images/Cadeira-Gamer.jpg" class="gallery-items">
                <img src="/images/Cadeira-Gamer.jpg" alt="Cadeira-Gamer">
            </a>
            <a href="/images/Monitor-gamer.jpg" class="gallery-items">
                <img src="/images/Monitor-gamer.jpg" alt="Monitor-gamer">
            </a>
            <a href="/images/mouse-gamer.jpg" class="gallery-items">
                <img src="/images/mouse-gamer.jpg" alt="mouse-gamer">
            </a>
            <a href="/images/nintendo-switch-32gb-1x-joycon-cinza.jpg" class="gallery-items">
                <img src="/images/nintendo-switch-32gb-1x-joycon-cinza.jpg" alt="nintendo-switch-32gb">
            </a>
            <a href="/images/notebook-sansung.jpg" class="gallery-items">
                <img src="/images/notebook-sansung.jpg" alt="notebook-sansung">
            </a>
            <a href="/images/Placa-de-Video-Gigabyte-AMDRadeon-RX6700-XT-Eagle.jpg" class="gallery-items">
                <img src="/images/Placa-de-Video-Gigabyte-AMDRadeon-RX6700-XT-Eagle.jpg" alt="Placa-de-Video-Gigabyte-AMDRadeon-RX6700-XT-Eagle">
            </a>
            <a href="/images/ps5.jpg" class="gallery-items">
                <img src="/images/ps5.jpg" alt="ps5">
            </a>
            <a href="/images/Smartphone-MotoG71.jpg" class="gallery-items">
                <img src="/images/Smartphone-MotoG71.jpg" alt="Smartphone-MotoG71">
            </a>
            <a href="/images/smarttv-samsung-43polegadas.jpg" class="gallery-items">
                <img src="/images/smarttv-samsung-43polegadas.jpg" alt="smarttv-samsung-43polegadas">
            </a>
            <a href="/images/teclado-gamer.jpg" class="gallery-items">
                <img src="/images/teclado-gamer.jpg" alt="teclado-gamer">
            </a>
            <a href="/images/fone-gamer.jpg" class="gallery-items">
                <img src="/images/fone-gamer.jpg" alt="fone-gamer">
            </a>
        </div>        
    </main>
    <%- include('./partials/footer') %>
</body>
</html>